@font-face {
    font-family: myBKFont;
    src: url('../lib/font-awesome-4.7.0/fonts/BKoodakBold_0.ttf') format('truetype');
}

body {
    font-size: 11pt;
    direction: rtl !important;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.container #ribbon {
    width: 100%;
}
.container #result {
    width: 100%;
    margin-bottom: 10px;
}
.container .btn {
    display: inline-block;
    margin: 0px 5px;
}
#ribbon {
    min-height: 50px;
    background-color: #a7c8d2;
    margin-bottom: 5px;
}
#result {
    box-shadow: 0px 0px 5px black;
    min-height: 20px;
    padding:0px;
}
#ribbon [type=text] {
    width: 300px;
    min-height: 40px;
    cursor: hand;
    margin:5px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#ribbon [type=button] {
    width: 200px;
    min-height: 40px;
    margin: 8px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.category {
    height: 100%;
    background-color: transparent;
    box-shadow: 0px 0px 1px black;
    margin: 0px 2px;
    display: inline-block;
    vertical-align: middle;
}
.operationCategory{
    position: absolute;
    top:0px;
    left:0px;
    direction: rtl;
    text-align: right;
    background-color: transparent;
    box-shadow: 0px 0px 1px black;
    margin: 0px 2px;
    display: inline-block;
    vertical-align: middle;
}

.issue{
    width:100%;
}
.issue [type=text] {
    min-height: 30px;
    width:100%;
    direction: rtl;
    text-align: right;
    vertical-align: middle;
    border-radiun: 5px;
    box-shadow: 0px 0px 5px black;
    margin:15px 0px;
}
.solutions {
    wifth: 100%;
}
.solutions .txtArea {
    margin:15px 0px;
    width: 100%;
}
#txt_search {
    font-family: myBKFont;
}
.issuePage {
    font-family: myBKFont;
}
.issuePage input {
    font-family: myBKFont;
}
.issuePage textarea {
    font-family: myBKFont;
    height:200px;
}